@import "../../index.scss";

.app__notification{
    margin-right: .5rem;
    position: relative;

    .app__notification_bell{
        & >*{
            color: black;
            transition: color .125s ease-in-out;
        }
    }
    
    &:hover .app__notification_bell >*{
        color: $orange;
    }

    .app__notification_on{
        position: absolute;
        top: 7px;
        right: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $orange;
    }
}