@import "../../index.scss";

body > *{
    font-family: $primary-font;
}

.app__SignIn{
    display: flex;
    justify-content: center;

    &_box{
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
}


