@import "../../../index.scss";

.app__SupplierProfile {
    margin: 1rem auto 2rem;

    &_content{
        margin-top: 1rem;
    }

    &_box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        border: 3.5px solid $light_gray;
        margin-bottom: 1rem;
        padding: 1rem 0 .5rem;

        input{
            border: none;
            outline: none;
            width: 100%;
            margin-left: .5rem;
            font-size: $normal_font;
        }

        &_div {
            margin: .5rem 1.5rem .5rem;

            &_row {
                padding: 0 0 18px 0;
                position: relative;

                .error_msg{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: $small_font;
                    font-weight: 500;
                    color: red;
                }
    
                &_input {
                    border: 3px solid $light_gray;
                    border-radius: 10px;
                    padding: 0.25rem 0.5rem;
                    font-size: large;
                    display: flex;
                    align-items: center;
                }

                &_error_input{
                    border: 3px solid red;
                    border-radius: 10px;
                    padding: 0.25rem 0.5rem;
                    font-size: large;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    &_button {
        display: flex;
        justify-content: start;
        
        &>*{
            margin-right: 1rem;
        }
    }

    &_password-checks{
        margin: 0;
        padding: 0;
        font-size: $smaller_font;
        margin-top: 1rem;

        &_symbol-success>*>*{
            color: rgb(107, 209, 34);
        }

        &_symbol-fail>*>*{
            color: rgb(226, 14, 14);
        }
    }
}

@media screen and (max-width: 800px) {

    .app__SupplierProfile {

        &_box{

            grid-template-columns: 1fr;
            gap: 0;

            &_div{
                    margin: 0rem 1rem 0rem 1rem;
            }
        }

        &_password-checks{
            font-size: $small_font;
        }
    }
}