@import '../../index.scss';

.app__modal_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 9%, 0.863);
    z-index: 1000;
}

.app__modal_content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 4rem;
    z-index: 1000;

    &_closeBtn{
        position: absolute;
        right: 0;
        top: 0;
        margin: .5rem;
    }
    //filter da category
    .app__Category_filter_unit, .app__Search_filter_unit, .app__SubCategory_filter_unit, .app__SubSubCategory_filter_unit{
        .mobile-title{
            border-bottom: 2px solid $light_gray;
            margin: .5rem 0;
            padding: .5rem 0;
        }
    }
    .filterPrice{
        display: flex;
        align-items: center;
        margin-left: .5rem;
        font-size: $smaller_font;
        button{
            background-color: $orange;
            color: white;
            padding: 4px 20px;
            border-radius: 15px;
            opacity: 0.8;
            transition: all 200ms ease-in-out;
            margin-left: .5rem;
          
            &:hover {
                opacity: 1; 
            }
        }
        input{
            width: 3rem;
            border: 3px solid $light_gray;
            outline: none;
            margin: 0 .5rem;
        }
    }
}

@media (max-width: 1200px) {
    .app__modal_content{
        padding: 2rem;
    }

    .filter{
        width: 50%;
        padding: 2rem 1rem;
    }
}

@media (max-width: 750px){
    .filter{
        width: 70%;
    }
}

@media (max-width: 500px){
    .filter{
        width: 80%;
    }
}

@media (max-width: 400px) {
    .app__modal_content{
        padding: 1.5rem 1rem;
    }

    .filter{
        width: 90%;
    }
}