//General file for scss

//fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$primary-font: 'Poppins', sans-serif;

//colors

$orange: #EB5C1F;
$light_gray: #EEEEEE;
$blue: #76CBFF;

//main functions

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
    background-color: white;
    //scroll-behavior: smooth;
}

.primary-font{
  font-family: $primary-font;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__container{
  max-width: 1650px;
  width: 95%;
  margin: 0 auto;
}

.app__pointer{
  cursor: pointer;
}

.app__icon_hover:hover{
  color: $orange;
}

// animations

.slide-right {
	animation: slide-right 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes slide-right {
  0% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}
