//General file for scss

//fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$primary-font: 'Poppins', sans-serif;

//colors and setup

$orange:     #EB5C1F;
$light_gray: #EEEEEE;
$blue:       #76CBFF;

$big_font: 24px;
$bigger_font: 18px;
$normal_font: 16px;
$smaller_font: 14px;
$small_font: 12px;

$semi-bold: 500;

$border: 3px solid $light_gray;

//scrollbar

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #EEEEEE;
}
::-webkit-scrollbar-thumb {
  background: #8888;
}
::-webkit-scrollbar-thumb:hover {
  background: #EB5C1F;
}

//pagination

.paginationBttns {
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: .2rem .5rem;
  margin: .25rem;
  cursor: pointer;
  box-sizing:content-box;
}

.paginationBttns a:hover {
  color: $orange;
}

.paginationActive {
  color: $orange;
}

.paginationDisabled a {
  opacity: 0;
}

//basic stuff

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  background-color: white;
  font-family: $primary-font;
  list-style: none;
  scroll-behavior: smooth;
}

img, picture{
  max-width: 100%;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

//main functions

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container{
  max-width: 1650px;
  width: 95%;
}

.app__pointer{
  cursor: pointer;
}

.app__icon_effect >*{
  color: black;
  transition: color .1s ease-in-out;
}

.app__icon_effect:hover >*{
  color: $orange;
}

.app__text_effect{
  color: black;
  position: relative;
  border-bottom-width: 0%;
  transition: color .3s cubic-bezier(0.25, 1, 0.5, 1);

  &:hover{
    color: $orange;
  }

  &::before{
    content: '';
    position: absolute;
    border-radius: 100vmax;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: $orange;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }

  &:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

.search_close_btn::-webkit-search-cancel-button{
  -webkit-appearance: none;
  position: relative;
  right: -5px;
  height: 24px;
  width: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
  cursor: pointer;
  transition: .1s ease-in-out;

  &:hover{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" color="darkorange" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
  }
}

.main__action_btn{
  background-color: $orange;
  color: white;
  padding: 8px 50px;
  border-radius: 15px;
  opacity: 0.8;
  transition: all 200ms ease-in-out;

  &:hover {
      opacity: 1; 
  }
}

.main__negative_action_btn{
  opacity: 0.8;
  color: black;
  border: 2px solid black;
  padding: 6px 50px;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
  box-sizing: border-box;

  &:hover {
      opacity: 1; 
      color: $orange;
      border: 2px solid $orange;
  }
}

.secondary__action_btn{
  background-color: $orange;
  color: white;
  padding: 8px 30px;
  border-radius: 15px;
  font-size: $smaller_font;
  opacity: 0.8;
  transition: all 200ms ease-in-out;

  &:hover {
      opacity: 1; 
  }
}

.secondary__negative_action_btn{
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 6px 30px;
  border-radius: 15px;
  font-size: $smaller_font;
  opacity: 0.8;
  transition: all 200ms ease-in-out;

  &:hover {
      opacity: 1; 
  }
}

@media screen and (max-width: 700px) {
  .main__action_btn{
    padding: 6px 40px;
    border-radius: 10px;
    font-size: $smaller_font;
  }

  .main__negative_action_btn{
    padding: 4px 40px;
    border-radius: 10px;
    font-size: $smaller_font;
  }
}

.inputField{

  p{
      margin: 1rem 0 .5rem;
  }

  input{
      outline: none;
      border: 3px solid $light_gray;
      border-radius: 10px;
      padding: 0.25rem 0.5rem;
      width: 100%;
      font-size: $smaller_font;
      transition: all 100ms ease-in;

      &:focus{
          border: 3px solid rgba($color: $orange, $alpha: .8);
      }
  }
}

.inputField_error{
  p{
      margin: 1rem 0 .5rem;
  }
  
  input{
      outline: none;
      border: 3px solid red;
      border-radius: 10px;
      padding: 0.25rem 0.5rem;
      width: 100%;
      font-size: $smaller_font;
      transition: all 100ms ease-in;

      &:focus{
          border: 3px solid rgba($color: $orange, $alpha: .8);
      }
  }
}

.mapboxgl-ctrl-bottom-left{
  display: none;
}

.mapboxgl-marker {
  background-color: transparent;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl{
  margin: 0;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact{
  margin: 0;
}

.mapboxgl-popup-content{
  padding: 0;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
  display: none;
}

.mapboxgl-ctrl button .mapboxgl-ctrl-icon{
  background-color: transparent;
}

.mapboxgl-marker *{
  background-color: transparent;
}
// animations


