@import "../../../index.scss";

.app__SupplierPage {
    margin: 1rem auto 2rem;

    &_options{
        
        ul {
            list-style-type: none;
            margin: 1rem 0;
            padding: 0;
            overflow: hidden;
        }
        
        li {
            float: left;
            padding-right: 16px;
        }
        
        li:last-child {
            border-right: none;
        }
        
        li a {
            display: block;
            color: rgb(0, 0, 0);
            text-align: center;
            text-decoration: none;
        }
        
        li a:hover{
            color: rgb(0, 0, 0);
        }
    }

    &_boxes{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    &_boxesEsquerda2{
        margin-top: 1.75rem;
    }

    &_boxesEsquerda1Est{
        border: $border;
        padding: 1rem;
    }

    &_boxesEsquerda1Ult{
        padding: 6rem 0.5rem;
        box-sizing: border-box;
        margin-left: 0.25rem;
        background: #FFFFFF;
        border: $border;
    }

    &_boxesDireita{
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &_boxesDireita1Vend{
        height: 100%;
    }

    &_boxesDireita1Vend, &_boxesDireita1Nmr{
        border: $border;
        padding: 1rem;
    }

    &_boxesDireita1Nmr{
        text-align: center;
        display: flex;
        gap: 2rem;
        justify-content: center;
    }

    &_boxesDireita1Nmr1, &_boxesDireita1Nmr2{

        .numeroLaranja{
            color:$orange;
            font-size: 27px;

        }
    }

    a.option{
        margin-right: 1rem;
    }
    
    .active {
        font-weight: bold;
        color: rgba($color: $orange, $alpha: .8);
    }
}

@media screen and (max-width: 1500px) {
    .app__SupplierPage_boxes{
        grid-template-columns: 2fr 1fr;
    }
}

@media screen and (max-width: 1050px) {
    .app__SupplierPage{
        &_boxes{
            grid-template-columns: 1fr;
            gap: 1.5rem;
        }
    
        &_boxesDireita{
            margin-left: 0;
            flex-direction: row;
        }

        &_boxesDireita1Nmr{
            flex-direction: column;
            min-width: 150px;
            gap: 0;
        }

        &_boxesDireita1Vend{
            width: 100%;
        }
    }
}