@import "../../../index.scss";

.app__ConsumerProfile {
    margin: 1rem auto 2rem;
    
    &_options{

        ul {
            list-style-type: none;
            margin: 1rem 0 0 0;
            padding: 0;
            overflow: hidden;
        }
        
        li {
            float: left;
            padding-right: 10px;
            padding-bottom: 10px;

            .active {
                font-weight: bold;
                color: rgba($color: $orange, $alpha: .8);
            }
        }
        
        li:last-child {
            border-right: none;
        }
        
        li a {
            display: block;
            text-align: center;
            text-decoration: none;
            font-size: $bigger_font;
        }
        
        li a:hover{
            color: rgba($color: $orange, $alpha: .8);
        }
    }
    
    &_box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        border: 3.5px solid $light_gray;
        margin-bottom: 1rem;

        input{
            border: none;
            outline: none;
            width: 100%;
            margin-left: .5rem;
            font-size: $normal_font;
        }

        &_div {
            margin: .5rem 1.5rem .5rem;

            &_row {
                padding: 0 0 18px 0;
                position: relative;

                .error_msg{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: $small_font;
                    font-weight: 500;
                    color: red;
                }
    
                &_input {
                    border: 3px solid $light_gray;
                    border-radius: 10px;
                    padding: 0.25rem 0.5rem;
                    display: flex;
                    align-items: center;
                }

                &_error_input{
                    border: 3px solid red;
                    border-radius: 10px;
                    padding: 0.25rem 0.5rem;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    &_button {
        display: flex;
        justify-content: start;
        
        &>*{
            margin-right: 1rem;
        }
    }

    &_password-checks{
        margin: 0;
        padding: 0;
        font-size: $smaller_font;
        margin-top: 1rem;

        &_symbol-success>*>*{
            color: rgb(107, 209, 34);
        }

        &_symbol-fail>*>*{
            color: rgb(226, 14, 14);
        }
    }
}

@media screen and (max-width: 800px) {

    .app__ConsumerProfile {

        &_box{

            grid-template-columns: 1fr;
            gap: 0;

            &_div{
                    margin: 0rem 1rem 0rem 1rem;
            }
        }

        &_password-checks{
            font-size: $small_font;
        }
    }
}