@import '../../index.scss';

.product{
    padding: 1rem;
    border: 3px solid $light_gray;
    //border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    img{
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;

        &:hover{
            transform: scale(1.025);
        }
    }

    &_img{
        transition: all 150ms ease-in-out;
    }

    &_description{
        margin-top: 1rem;
        height: 100%;
        display: grid;
        grid-template-rows: 3fr 1fr;
        align-self: stretch;
        
        p{
            margin: 0;
        }
    }

    &_price{
        color: $orange;
        font-weight: 600;
        font-size: 1.125rem;
    }

    &_action_section{
        align-self: end;
        display: flex;
        align-items: flex-start;

        margin-top: .25rem;

        button{
            display: flex;

            & span{
                font-size: .85rem;
                margin: 0 1rem 0 .5rem;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .product_action_section{
        button span{
            font-size: .75rem;
        }
        
    }
}

@media screen and (max-width: 400px) {
    .product_action_section{
        button span{
            font-size: .7rem;
            margin: 0 .5rem;
        }
    }
}