@import "../../../index.scss";

.app__SupplierSell {
    margin: 1rem auto 2rem;

    &_Box{
        border: $border;

        table{
            width: 100%;
            thead tr th{
                font-size: 16px;
                font-weight: 500;
                background-color: $light_gray;
                padding: .5rem 3rem .5rem .5rem;
            }
            tbody tr td{
                padding: .75rem .5rem .75rem .5rem;
                //align-self: flex-start;
                vertical-align: top
            }

            tbody tr:nth-child(even) td{
                background-color: rgba($color: $light_gray, $alpha: .3);
            }
        }

        &_Image{
            display:flex;
                 
            img{
                max-width: 150px;
                max-height: auto;
                margin-right: 1.5rem;
            }
        }
    }

    a.option{
        margin-right: 1rem;
    }
        
    .active {
        font-weight: bold;
        color: rgba($color: $orange, $alpha: .8);
    }  
}

@media (max-width: 1000px) {
    .app__SupplierSell{

        &_Box{
            table{
                thead tr th{
                    display: none;
                }

                tr{
                    position: relative;
                }
        
                td{
                    display: block;
        
                    &::before{
                        content: attr(data-cell);
                        font-weight: 500;
                    }
        
                    &:nth-child(4){
                        padding-bottom: 1rem;
                    }
                }

                th, td{
                    padding: .125rem 1rem .125rem .25rem;
                }
            }
        }

        .actions{
            position: absolute;
            right: 4px;
            top: 0;
        }
    }
}