@import "../../../index.scss";

.app__SupplierSell {
    margin: 1rem auto 2rem;

    &_Box{
        border: $border;

        table{
            width: 100%;
            thead tr th{
                font-size: 16px;
                font-weight: 500;
                background-color: $light_gray;
                padding: .5rem 3rem .5rem .5rem;
            }
            tbody tr td{
                padding: .75rem .5rem .75rem .5rem;
                //align-self: flex-start;
                vertical-align: top
            }
        }

        &_Image{
            display:flex;
                 
            img{
                max-width: 150px;
                max-height: auto;
                margin-right: 1.5rem;
            }
        }
    }

    a.option{
        margin-right: 1rem;
    }
        
    .active {
        font-weight: bold;
        color: rgba($color: $orange, $alpha: .8);
    }  
}

@media screen and (max-width: 800px) {

    .app__SupplierPage {

       
            tbody td {
                display: block;
                text-align: left;
            }
        
            tbody td:before {
                content: attr(data-th);
                display: block;
                text-align: left;
                font-weight: bold;
                margin-bottom: 0.5em;
            }
        
            tbody tr {
                display: block;
                margin-bottom: 1.5em;
            }
        }
}