@import '../../../index.scss';

.app__SubCategory{
    margin: 1rem auto;

    &_Grid{
        display: grid;
        grid-template-columns: 1.5fr 5fr;
        gap: 1.5rem;
        margin-top: 1rem;
    }

    &_Grid_Esquerda{
        border: $border;
        padding: 1rem;
        align-self: baseline;

        .app__SubCategory_filter_content{
            
            ul{
                padding: 0;
            }

            li{
                line-height: 2rem;

                a{
                    font-size: $smaller_font;
                }
            }

            &_title{
                display: flex;
                justify-content: space-between;
                padding-bottom: .25rem;
                border-bottom: 2px solid $light_gray;
                margin: .5rem 0;

                &_up, &_right{
                    transform: rotate(0deg);
                    transition: all 350ms ease;
                }

                &:hover{
                    .app__SubCategory_filter_content_title_up{
                        transform: rotate(180deg);
                    }

                    .app__SubCategory_filter_content_title_right{
                        transform: rotate(90deg);
                    }

                    .app__SubCategory_filter_content_title_right > *, .app__SubCategory_filter_content_title_up > *, p{
                        color: $orange;
                    }
                }
            }

            .hideFilter{
                display: none;
                transition: all 250ms ease-in-out;
            }

            .showFilter{
                display: contents;
                transition: all 250ms ease-in-out;
            }
        }
    }

    &_Grid_Direita{    
        .app__SubCategory_mobile_filter_content{
            display: none;
        }
        .app__SubCategory_pagination{
            text-align: center;

            &_actionBtn{
                
            }

            &_currentPage{
                color: $orange;
                font-weight: bold;
            }

            &_pages{
                padding: 0 .5rem;
                transition: color 100ms ease-in;

                &:hover{
                    color: rgba($color: $orange, $alpha: .8);
                }
            }
        }   
    }
}


@media screen and (max-width: 1050px){
    .app__SubCategory{
        &_Grid{
            grid-template-columns: 1fr;
            gap: 1.5rem;
            margin-top: 1rem;
        }

        .app__SubCategory_mobile_filter_content{
            display: block;
        }

        &_Grid_Esquerda{
            display: none;
        }
    }
}