@import "../../../index.scss";

.app__SupplierAdd {
    max-width: 1650px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding-top: 1%;

    &_options{
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        li {
            float: left;
            padding-right: 10px;
            padding-bottom: 10px;
        }
        
        li:last-child {
            border-right: none;
        }
        
        li a {
            display: block;
            color: rgb(0, 0, 0);
            text-align: center;
            text-decoration: none;
        }
        
        li a:hover{
            color: rgb(0, 0, 0);
        }
    }

    &_Box{
        border: $border;
        padding: 2rem 6rem 3rem 6rem;
        min-height: 400px;
        display:grid;
        grid-template-columns: 2.5fr 1fr 1fr 1 fr 1fr;

        table{
            text-align: center;
            thead tr th{
                padding-bottom: 1.5rem;
            }
            tbody tr td{
                padding-bottom: 1.5rem;
            }
        }

        &_Image{
            display:flex;
            
            img{
                max-width: 200px;
                max-height: auto;
                margin-right: 1.5rem;
            }
        }
    }

    a.option{
        margin-right: 1rem;
    }
        
    .active {
        font-weight: bold;
        color: rgba($color: $orange, $alpha: .8);
    }
    
}

@media screen and (max-width: 800px) {

    .app__SupplierPage {

        &_box{
            grid-template-columns: 1fr;
            gap: 0;

            &_div{
                margin: 0rem 1rem 0rem 1rem;
            }
        }
    }
}