@import "../../../index.scss";

.app__SupplierAdd {
    margin: 1rem auto 2rem;

    &_Box{
        border: $border;

        table{
            width: 100%;
            thead tr th{
                font-size: 16px;
                font-weight: 500;
                background-color: $light_gray;
                padding: .5rem 3rem .5rem .5rem;
            }
            tbody tr td{
                padding: .75rem .5rem .75rem .5rem;
            }
            .priceShow>*{
                font-size: 16px;
                font-weight: 400;
                color: black;
            }
        }

        &_Image{
            display:flex;
            
            img{
                max-width: 200px;
                max-height: auto;
                margin-right: 1.5rem;
            }
        }
    }

    a.option{
        margin-right: 1rem;
    }
        
    .active {
        font-weight: bold;
        color: rgba($color: $orange, $alpha: .8);
    }
    
}

@media screen and (max-width: 800px) {

    .app__SupplierPage {

        &_box{
            grid-template-columns: 1fr;
            gap: 0;

            &_div{
                margin: 0rem 1rem 0rem 1rem;
            }
        }
    }
}