@import '../../../index.scss';

.app__prod-unit{
    margin: 1rem auto 2rem;

    &_content{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 3rem;
    }

    &_add_new-unit{
        padding-right:4rem;

        &_title{
            margin: 0;
            font-size: $bigger_font;
            font-weight: 500;
        }

        &_content{
            .app__prod-unit_add_new-unit_actions{
                margin-top: 1.5rem;
            }
        }
    }

    &_existing-units{

        &_title{
            font-size: $bigger_font;
            font-weight: 500;
        }

        &_content{
            border: $border;
            th{
                background-color: $light_gray;
            }

            td, th{
                padding: .5rem 3rem .5rem .25rem;
            }
    
            thead th{
                font-size: $normal_font;
                font-weight: 500;
            }
    
            tbody td{
    
                button{
                    margin: 0 .5rem;
                }
            }

            .products_format{
                font-weight: 500;
                font-size: $smaller_font;
            }

            .inner-table{
                th, td{
                    padding: .25rem 1.5rem .25rem .25rem;
                }
            }
        }
    }

    .editing_prod-unit_content{
        .inputField{
            margin-right: 1rem;
        }
    }

    a.option{
        margin-right: 1rem;
    }
        
    .active {
        font-weight: bold;
        color: rgba($color: $orange, $alpha: .8);
    }
    
}

@media screen and (min-width: 1450px) {
    .app__prod-unit{
        &_add_new-unit{
            padding-right: 6rem;
        }
        
    }
}

@media screen and (max-width: 1200px) {
    .app__prod-unit{
        &_add_new-unit{
            padding-right: 2rem;
        }
        
        table{
            width: 100%;
        }
    }
}

@media screen and (max-width: 1050px) {
    .app__prod-unit{
        &_content{
            grid-template-columns: 1fr;
            gap: 0;
        }

        &_add_new-unit{
            padding-right: 0;
        }

        &_add_new-unit_content{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
            gap: 0 2rem;
            margin-bottom: 1rem;

            .app__prod-unit_add_new-unit_actions {
                justify-self: stretch;
                align-self: end;
            }
        }
    }
}

@media (max-width: 800px) {
    .app__prod-unit_existing-units_content td, .app__prod-unit_existing-units_content th{
        padding: .5rem 1rem .5rem .25rem;
    }
}

@media (max-width: 650px) {
    .app__prod-unit_existing-units_content{
        th{
            display: none;
        }

        th, td{
            padding: .125rem 1rem .125rem .25rem;
        }

        .tdtop{
            padding-top: .5rem;
        }

        .tdbottom{
            padding-bottom: .5rem;
        }

        tr{
            position: relative;
        }

        td{
            display: block;

            &::before{
                content: attr(data-cell);
                font-weight: 500;
            }

            &:nth-child(4){
                padding-bottom: 1rem;
            }
        }

        .actions{
            position: absolute;
            right: 4px;
            top: 0;
        }

        .produtos_bold{
            button{
                margin-left: 0;
                font-weight: 500;
            }
        }

        .inner-table{
            tr{
                position: relative;
            }

            .product_actions{
                position: absolute;
                right: 4px;
                top: 0;
            }
        }

        .products_format_mobile{
            padding: 0.5rem 3rem 0.5rem 1rem;
        }

        .products_format_mobile_head{
            display: none;
        }
    }
}