@import "../../../index.scss";

.app__Transportadora{
    width: 50%;
    margin: 1rem auto;
    //display: flex;
    align-items: center;

    button{
        color:white;
        width: 35%;
        background-color: #EB5C1F;
        border-radius: 10px;
        padding: .5rem .75rem;
    }
    
    &_box{
        padding: 2rem 1rem 3rem;
        width: 40%;
        margin: 4rem auto;
        //display: grid;
        //grid-template-columns: 2fr 1fr 2fr;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px #00000040;

        & >*{
            align-self: center;
            margin-bottom: 0.5rem;
        }

        &_box1{
            width: 40%;
            align-self: center;
            margin-bottom: 0.5rem;
            
            p{
                text-align: center;
            }
        }

        input{
            outline: none;
            border: none;
            width: 100%;
        }

        form p{
            margin: auto;
            margin-top: 1rem;
            margin-bottom: 0.05rem;
        }
    }

    &_box11{
        border: 3px solid $light_gray;
        border-radius: 10px;
        padding: .5rem .75rem;
        margin: 0;
        display: flex;

        svg{
            margin-right: .75rem;
        }
    }
}


.btn{
    margin-top: 2rem;
}





@media screen and (min-width: 1450px){
    .app__SignIn_box{
        width: 80%;
    }
}

@media screen and (max-width: 1200px){
    .app__SignIn_box{
        margin: 4rem auto 4rem;
        width: 95%;

        &>*{
            padding: 1rem;
        }
    }
}

@media screen and (max-width: 900px){
    .app__SignIn_box{
        width: 75%;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr auto 1fr;
    }
}


@media screen and (max-width: 550px){
    .app__SignIn_box{
        width: 100%;
        padding: 0;
        border-radius: 0;
        margin: 1rem auto 2rem;
        box-shadow: 0px 0px 0px 0px #fff;
    }
}