@import '../../../index.scss';

.app__compare-product{
    margin: 1rem auto 2rem;

    &_content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        margin-top: 1rem;

        table{
            border: $border;
            padding: 1rem;

            tr{
                position: relative;
            }

            tr td{
                padding: .25rem .75rem;
            }
        }
    }


}