@import "../../index.scss";

.app__SignUp{
    margin: 1rem auto;

    &_rectangle1{
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: inherit;
    }

    &_content{
        padding: 2rem 1rem 2rem;
        width: 90%;
        margin: 4rem auto 4rem;
        border-radius: 10px;

        &_shadow{
            box-shadow: 0px 4px 4px 0px #00000040;
        }

        &_signIn{
            color: rgba($color: $orange, $alpha: .8);
            transition: all 50ms ease-in-out;
            margin-left: 2rem;

            &:hover{
                color: $orange;
                border-bottom: 3px solid rgba($color: $orange, $alpha: .8);
            }
        }
    }

    &_userType{
        display: flex;
        justify-content: center;

        .SignUp_option{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 0 1rem;
            padding: .25rem .75rem;
            border-radius: 10px;
            cursor: pointer;
            border: $border;
            transition: border .150s ease-in;

            &:hover{
                border: 3px solid rgba($color: $orange, $alpha: .81)
            }

            span{
                color: #808080;
            }

            .dot{
                height: 20px;
                width: 20px;
                background: #d9d9d9;
                margin-right: .5rem;
                border-radius: 50%;
                position: relative;

                &::before{
                    position: absolute;
                    content: "";
                    top: 4px;
                    left: 4px;
                    width: 12px;
                    height: 12px;
                    background: rgba($color: $orange, $alpha: .8);
                    border-radius: 50%;
                    opacity: 0;
                    transform: scale(1.5);
                  }
            }
        }
        input[type="radio"]{
            display: none;
        }
        #Consumer_optionId:checked:checked ~ .Consumer_option, #Supplier_optionId:checked:checked ~ .Supplier_option{
            border-color: rgba($color: $orange, $alpha: .8);
            background: rgba($color: $orange, $alpha: .8);
        }
        #Consumer_optionId:checked:checked ~ .Consumer_option .dot, #Supplier_optionId:checked:checked ~ .Supplier_option .dot{
            background: #fff;
        }
        #Consumer_optionId:checked:checked ~ .Consumer_option .dot::before, #Supplier_optionId:checked:checked ~ .Supplier_option .dot::before{
            opacity: 1;
            transform: scale(1);
        }
        #Consumer_optionId:checked:checked ~ .Consumer_option span, #Supplier_optionId:checked:checked ~ .Supplier_option span{
            color: white;
            background-color: transparent;
        }
    }

    &_box{
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;

        & >*{
            padding: 2rem 2rem 0 2rem;
            align-self: center;
        }

        input{
            outline: none;
            border: none;
            width: 100%;
        }

        form p{
            margin-top: 1rem;
            margin-bottom: 0.05rem;
        }

        &2{
            p{
                text-align: center;
            }    
        }

        &3{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .singUpOptions{
                margin-left: .25rem;
                align-self: center;
                path{
                    color: white;
                }
            }
        }
    }

    &_box11{
        border: 3px solid $light_gray;
        border-radius: 10px;
        padding: .5rem .75rem;
        margin: 0;
        display: flex;

        svg{
            margin-right: .75rem;
        }
    }

    &_box13{
        flex-direction: row;

        button{
            color:white;
            width: 45%;
            background-color: rgba(235, 92, 31, 0.8);;
            border-radius: 10px;
            padding: .5rem .75rem;
            margin: 0;
            margin-top: 1rem;
        }

        .buttonComprador{
            background-color: #EB5C1F;
        }

        .buttonVendedor{
            background-color: white;
            color: black;
            border: 3px solid #EEEEEE;
        }

        &_Buttons{
            display: flex;
            justify-content: space-around;
        }
   }

   &_box13{
        button{
            color:white;
            width: 100%;
            background-color: rgba(235, 92, 31, 0.8);;
            border-radius: 10px;
            padding: .5rem .75rem;
            margin: 0;
            margin-top: 1.5rem;
            margin-bottom: 0.75rem;
        }
   }
}

.app__SignUp_box30{
    width: 100%;
    border-radius: 10px;
    padding: .5rem 4rem;
    margin: 0; 
    display: flex;
    justify-content: center;

    p{
        color:white;
        margin: 0 0 0 1rem;
    }
}

.ButtonGoogle, .ButtonGoogle p{
    background-color: #DB4437;
}

.ButtonFacebook, .ButtonFacebook p{
    background-color: #4267B2;
}

.ButtonFacebook{margin-top:1rem;}

.ButtonTwitter, .ButtonTwitter p{
    background-color: #1DA1F2;
}

.ButtonTwitter{margin-top:1rem;}

@media screen and (min-width: 1450px){
    .app__SignIn_content{
        width: 80%;
    }
}

@media screen and (max-width: 1200px){
    .app__SignUp_content{
        width: 95%;
    }

    .app__SignUp_box > * {
        padding: 1rem 1.5rem 0 1.5rem;
    }
}

@media screen and (max-width: 900px){
    .app__SignUp_content{
        width: 75%;
        margin: 3rem auto 2rem;
    }

    .app__SignUp_box{
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr auto 1fr;

        &2{
            padding: 0;
        }
    }
}

@media screen and (max-width: 550px){
    .app__SignUp_content{
        width: 100%;
        min-height: 500px;
        padding: 0;
        margin: 2rem auto 1rem;
        border-radius: 0;
        box-shadow: 0px 0px 0px 0px #fff;
    }

    .app__SignUp_userType .SignUp_option{
        margin: .5rem;
    }

    .app__SignUp_box{
        padding: 0;
    }

    .app__SignUp_content_signIn{
        margin: 0;
    }
}