@import "../../index.scss";

body{
    font-family: $primary-font;
}

.app__footer{
    display: flex;
    justify-content: space-evenly;
    align-items: start; 
    
    padding: 1.25rem;
    margin: auto auto 0;
    border-top: 3px solid $light_gray;  
}

.app__support{
    h5 {
        margin-bottom: .75rem;
        font-size: $normal_font;
    }

    &2 >*{
        display: block;
        line-height: 2rem;
        font-size: $smaller-font;
        transition: 150ms all ease-in-out;

        &:hover{
            font-weight: 500;
            color: $orange;
        }
    }

    &3 p{
        margin: 1.5rem 0 0 0;
        font-size: $small-font;
    }
}

@media screen and (max-width: 1200px) {
    .app__footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 1rem;
        padding: 1rem 4rem;
    }
}

@media screen and (max-width: 1000px) {
    .app__footer{
        padding: 1rem;
    }

    .app__support{
        h5 {
            margin-bottom: .5rem;
            font-size: $smaller_font;
        }
    
        &2 >*, &3 p{
            font-size: $small-font;
        }
    }
}