@import "../../index.scss";

body{
    font-family: $primary-font;
}

.app__footer{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    
    margin: auto auto 0;
    padding: 1rem;
    border-top: 3px solid $light_gray;  
}

.app__support{

    h5 {
        margin-bottom: 1.5rem;

    }

    &2 p{
        line-height: 1rem;
        font-size: 0.95rem;
    }
}