@import '../../../index.scss';

.app__SubSubCategory{
    margin: 1rem auto;

    &_Grid{
        display: grid;
        grid-template-columns: 1.5fr 5fr;
        gap: 1.5rem;
        margin-top: 1rem;
    }

    &_Grid_Esquerda{
        border: $border;
        padding: 1rem;
        align-self: baseline;

        .app__SubSubCategory_filter_content{
            ul{
                padding: 0;
            }

            li{
                line-height: 2rem;

                a{
                    font-size: $smaller_font;
                }
            }
        }
    }

    &_Grid_Direita{    
        .app__SubSubCategory_pagination{
            text-align: center;

            &_actionBtn{
                
            }

            &_currentPage{
                color: $orange;
                font-weight: bold;
            }

            &_pages{
                padding: 0 .5rem;
                transition: color 100ms ease-in;

                &:hover{
                    color: rgba($color: $orange, $alpha: .8);
                }
            }
        }   
    }
}


@media screen and (max-width: 1200px){
    .app__SubSubCategory_Grid{
    }
}

@media screen and (max-width: 800px) {
    .app__SubSubCategory_Grid{
    }
}

@media screen and (max-width: 600px) {
    .app__SubSubCategory_Grid{
    }
}