@import "../../../index.scss";

.app__home{
    margin: 2rem auto;
    border: 3px solid $light_gray;
    padding: 2rem;

    display: flex;
    justify-content: space-around;

    position: relative;

    img{
        height: 225px;
    }

    .rectangle1{
        position: absolute;
        top: 0;
        right: 0;
        height: 100px;
    }

    .rectangle2{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 75px;
    }

    &_text h2, p{
        width: 80%;
    }
}

.products{
    //width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;

    margin: 2rem auto;
}

@media screen and (max-width: 1200px) {
    .app__home{
        img{
            height: 200px;
        }

        &_text h2{
            font-size: 1.5rem;
        }

        .rectangle2{
            height: 50px;
        }
    }
}

@media screen and (max-width: 800px) {
    .app__home{
        img{
            height: 170px;
        }
    }

    .products{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;

        margin: 1rem auto;
    }
}

@media screen and (max-width: 650px) {
    .app__home{
        img{
            display: none;
        }

        &_text h2, p{
            width: 95%;
        }
    }

    .products{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: .75rem;
    }
}

