@import "../../../index.scss";

.products{
    //width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 3rem;

    margin-top: 2rem;
}

@media screen and (max-width: 1200px) {
    .products{
        gap: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .products{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1.5rem;
    }
}

@media screen and (max-width: 650px) {
    .products{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;
    }
}

