@import '../../../index.scss';

.app__anunciar{
    margin: 1rem auto 2rem;

    &_content{
        margin-top: 1rem;
        border: $border;
        padding: 2rem 6rem 3rem 6rem;
        display: flex;
        justify-content: space-around;

        &_search{
            max-width: 34rem;
            p{width: 75%;font-size: $big_font;}
        }

        &_novo_anuncio{
            p{margin-bottom: 2rem;font-size: $bigger_font;}
            align-self: center;
            div{
                text-align: center;
            }
            a{color: white;}
        }
    }
}

@media screen and (max-width: 1500px) {
    .app__anunciar_content{
        padding: 2rem 4rem 3rem 4rem;
        justify-content: space-between;
    }
}