@import '../../../../index.scss';

$transition-sidebar: all 350ms ease;
$overlay-bg:        hsla(0, 0%, 10%, 0.85);

.app__anuncio{
    margin: 1rem auto 2rem;

    .error_msg{
        //position: absolute;
        //bottom: 0;
        //right: 0;
        text-align: right;
        font-size: $small_font;
        font-weight: 500;
        color: red;
    }

    .title{
        font-weight: 500;
        font-size: $bigger_font;
    }

    .app__anuncio_submit_btn{
        &>*{
            background-color: transparent;
            &>*{
                color: white;
            }
        }
    }

    &_produto{
        margin: 1rem 0;
        &_content{
            border: $border;
            padding: 1rem 2rem 2rem 2rem;

            &_categoria{
                p{
                    margin: 1rem 0 .5rem;
                }
            }

            .produto_info{
                display: grid;
                grid-template-columns: auto 1fr;
                gap: 2rem;
            }
        }
    }

    &_anuncio{
        margin: 1rem 0;
        &_content{
            border: $border;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem 8rem;
            padding: 1rem 2rem 2rem 2rem;

            .app__anuncio_image_sectionBtn{
                margin-right: 1rem;
                & >* >*{
                    transition: all 150ms ease-in;
                }
                
                &:hover >* >*{
                    color: $orange;
                }
            }
    
            .app__anuncio_image_section-content{
                margin-top: 1rem;
            }
    
            .app__anuncio_image_input{
                border: $border;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                transition: all 150ms ease-in;
                input{
                    display: none;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                &:hover{
                    border: 3px solid rgba(235, 92, 31, 0.8);
                }
            }
    
            .app__anuncio_images_selected{
                display: grid;
                grid-template-columns: repeat(auto-fit, 100px);
                gap: 1rem;
                margin-bottom: 1rem;
                & > *{
                    min-width: 100px;
                    height: 80px;
                }
            }
    
            .app__anuncio_image_selected{
                position: relative;
                border-radius: 10px;
                &_img{
                    border-radius: 10px;
                    object-fit: cover;
                    width: 100px;
                    height: 80px;
                }
                &_deleteBtn{
                    position: absolute;
                    right: 0rem;
                    top: 0rem;
                    background-color: $blue;
                    & > *{
                        color: white;
                    }
                }
            }
        }
    }

    &_supplier-prodUnit{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin: 1rem 0;

        .app__anuncio_supplier{
            &_content{
                border: $border;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                padding: 1rem 2rem 2rem 2rem;
            }
        }

        .app__anuncio_prodUnit{
            &_content{
                border: $border;
                padding: 1rem 2rem 2rem 2rem;

                table{
                    thead th{
                        font-size: $normal_font;
                        font-weight: 500;
                    }

                    td, th{
                        padding: .5rem 1.5rem .5rem 0;
                    }
                }

                .app__anuncio_prodUnit_checkbox{
                    display: block;
                    position: relative;
                    cursor: pointer;
                    user-select: none;
                    
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }

                    .prodUnit_checkmark {
                        display: block;
                        height: 35px;
                        width: 35px;
                        border: $border;
                        border-radius: 10px;
                    }

                    input:checked .prodUnit_checkmark {
                        background-color: $orange;
                    }

                    input:checked ~ .prodUnit_checkmark:after {
                        display: block;
                    }

                    .prodUnit_checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                        left: 15px;
                        top: 10px;
                        width: 7px;
                        height: 14px;
                        border: solid $orange;
                        border-width: 0 3px 3px 0;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}

//Category Modal

.buttonToggleModal_area{
    display: flex;

    &_selected_category div{
        display: flex;
        flex-direction: column;

        span{
            font-size: $smaller_font;
            font-weight: bold;
        }

        p{
            font-size: $small_font;
            margin: 0;
        }
    }
}

#modal-toggler{
    display: inline-block;
    cursor: pointer;
    margin: 0 1rem 0 0;
    width: 10rem;
    font-size: $smaller_font;
    padding: 0.25rem 0.5rem;
    color: black;
    border-radius: 10px;
    border: $border;
    transition: all 150ms ease-in;
    align-self: start;
    text-align: center;

    &:hover{
        border: 3px solid rgba(235, 92, 31, 0.8);
    }
}

.overlayModal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: $overlay-bg;
    display: none;
    opacity: 0;

    &.activeModal{
        display: block;
        opacity: 1;
        margin: 0;
    }
}

.app__anuncio_modal_content{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}

.app__anuncio_modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30rem;
    min-height: 33rem;
    padding: 2rem;
    z-index: 1000;
    background: white;
    overflow: auto;
    visibility: hidden;

    &.activeModal{
        margin: 0;
        visibility: visible;
    }

    &_header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        p{
            font-size: $normal_font;
            font-weight: bold;
        }
    }
    
    &_body{
        grid-column: span 2;

        ul{
            margin: 0;
            padding: 0;
            font-weight: lighter;
            
            & > *{
                line-height: 2.5rem;
            }
        }

        &_category{
            margin-bottom: .75rem;

            &-title{
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                transition: $transition-sidebar;

                .app__anuncio_modal_navs_category-title_right {
                    transform: rotate(0deg);
                    transition: $transition-sidebar;
                }

                &:hover{
                    & .app__anuncio_modal_navs_category-title_right{
                        transform: rotate(90deg);
                    }

                    & .app__anuncio_modal_navs_category-title_right > *, .app__anuncio_modal_navs_category-title_up > *, p{
                        color: $orange;
                    }
                }

                p{
                    margin: 0;
                }

                span{
                    margin-left: 1rem;
                }
            }

            &-content{
                max-height: 0;
                overflow: hidden;
                transition: $transition-sidebar;

                label {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    user-select: none;
                }
            }

            .show{
                height: auto;
                max-height: 400px;
                margin-left: 1rem;
                transition: $transition-sidebar;
            }
        }

        .category_details{
            &_header{
                display: inline-flex;
                margin-bottom: 1rem;
                font-weight: 500;

                button{
                    margin-right: 1rem;
                }

                p{
                    margin: 0;
                }
            }

            &_body{
                position: relative;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
            
                &_1_sub{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1rem;

                    p{
                        margin: 0 1rem 0 0;
                    }
            
                    p, .subcategory_advance>*{
                        transition: all 150ms ease-in;
                    }
        
                    &:hover{
                        p, .subcategory_advance>*{
                            color:rgba(235, 92, 31, 0.8);
                        }
                    }
                }

                &_2 p{
                    font-size: $smaller_font;
                    margin: 0;
                }
            
                .subsubcategories{
                    position: absolute;
                    top: 0;
                
                    &_content li p{
                        margin-bottom: .5rem;
                    }
                }
            }
        }
        
        .clickedSubcategory{
            p, .subcategory_advance>*{
                color:rgba(235, 92, 31, 0.8);
            }
        }
    }
}

.app__anuncio_features, .app__anuncio_sub_features{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 0rem 2rem;

    select{
        width: 100%;
        font-size: $smaller_font;
        outline: none;
        border: $border;
        border-radius: 10px;
        padding: 4px 8px;
        cursor: pointer;
    }
}

@media screen and (max-width: 1500px) {
    .app__anuncio_produto{
        &_content{
            gap: 2rem;
        }
    }

    .app__anuncio_anuncio{
        &_content{
            gap: 1rem 6rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .buttonToggleModal_area{
        grid-template-columns: 1fr 2fr;
    }

    .app__anuncio_anuncio{
        &_content{
            gap: 1rem 2rem;
        }
    }

    .app__anuncio_supplier-prodUnit{
        gap: 1rem;
        .app__anuncio_supplier_content{
            gap: 1rem;
        }
    }
}

@media screen and (max-width: 800px) {
    .app__anuncio_features, .app__anuncio_sub_features{
        grid-template-columns: repeat(auto-fit, 150px);
        gap: .5rem 1rem;
    }

    .buttonToggleModal_area{
        display: flex;
    }

    #modal-toggler{
        width: 8rem;
    }

    .app__anuncio_produto{
        &_content{
            gap: 1rem 2rem;
            
            .produto_info{
                gap: 1rem;
            }
        }
    }

    .app__anuncio_anuncio{
        &_content{
            grid-template-columns: 1fr;
            gap: 0;

            .app__anuncio_image_selected_img{
                height: 60px;
            }

            .app__anuncio_images_selected{
                grid-template-columns: repeat(auto-fit, 80px);
                gap: 1rem;
        
                & > *{
                    min-width: 80px;
                    height: 60px;
                }
            }
        }
    }

    .app__anuncio_supplier-prodUnit{
        grid-template-columns: 1fr;
    }

    .app__anuncio_modal .category_details .category_details_body_1_sub p{
        font-size: $smaller_font;
    }
}

@media screen and (max-width: 500px) {
    .buttonToggleModal_area{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .app__anuncio_modal_body .category_details_body .subsubcategories_content li p {
        margin-bottom: .25rem;
    }

    .app__anuncio_modal{
        min-width: 20rem;
        min-height: 450px;
        padding: 1rem;

        .category_details{

            & .category_details_body{
                gap: 1rem;
                grid-template-columns: 1.5fr 1fr;

                &_1_sub p{
                    margin: 0 .5rem 0 0;
                }

                &_1_sub{
                    align-items: start;

                    .subcategory_advance{
                        margin-top: .125rem;
                    }
                }

                &_2 p{
                    font-size: $small_font;
                }
            }
        }
    }

    .app__anuncio_produto_content, .app__anuncio_anuncio_content, .app__anuncio_supplier-prodUnit .app__anuncio_supplier_content, .app__anuncio_supplier-prodUnit .app__anuncio_prodUnit_content{
        padding: .5rem 1rem 1rem 1rem;
    }

    .app__anuncio_produto_content .produto_info{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .app__anuncio_supplier-prodUnit .app__anuncio_supplier_content{
        grid-template-columns: 1fr;
    }

    .app__anuncio_supplier-prodUnit .app__anuncio_prodUnit_content{
        table{
            tbody tr td{
                font-size: 14px;
            }
            td, th{
                padding: .25rem 1rem .25rem 0;
            }
        }
    }

    .app__anuncio_features, .app__anuncio_sub_features{
        grid-template-columns: repeat(auto-fit, 135px);
    }
}