@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #EEEEEE;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5333333333);
}

::-webkit-scrollbar-thumb:hover {
  background: #EB5C1F;
}

.paginationBttns {
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 0.2rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  box-sizing: content-box;
}

.paginationBttns a:hover {
  color: #EB5C1F;
}

.paginationActive {
  color: #EB5C1F;
}

.paginationDisabled a {
  opacity: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  background-color: white;
  font-family: "Poppins", sans-serif;
  list-style: none;
  scroll-behavior: smooth;
}

img, picture {
  max-width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  max-width: 1650px;
  width: 95%;
}

.app__pointer {
  cursor: pointer;
}

.app__icon_effect > * {
  color: black;
  transition: color 0.1s ease-in-out;
}

.app__icon_effect:hover > * {
  color: #EB5C1F;
}

.app__text_effect {
  color: black;
  position: relative;
  border-bottom-width: 0%;
  transition: color 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.app__text_effect:hover {
  color: #EB5C1F;
}
.app__text_effect::before {
  content: "";
  position: absolute;
  border-radius: 100vmax;
  bottom: -2px;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #EB5C1F;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.app__text_effect:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.search_close_btn::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: relative;
  right: -5px;
  height: 24px;
  width: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.search_close_btn::-webkit-search-cancel-button:hover {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" color="darkorange" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
}

.main__action_btn {
  background-color: #EB5C1F;
  color: white;
  padding: 8px 50px;
  border-radius: 15px;
  opacity: 0.8;
  transition: all 200ms ease-in-out;
}
.main__action_btn:hover {
  opacity: 1;
}

.main__negative_action_btn {
  opacity: 0.8;
  color: black;
  border: 2px solid black;
  padding: 6px 50px;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
  box-sizing: border-box;
}
.main__negative_action_btn:hover {
  opacity: 1;
  color: #EB5C1F;
  border: 2px solid #EB5C1F;
}

@media screen and (max-width: 700px) {
  .main__action_btn {
    padding: 6px 40px;
    border-radius: 10px;
    font-size: 14px;
  }
  .main__negative_action_btn {
    padding: 4px 40px;
    border-radius: 10px;
    font-size: 14px;
  }
}
.app__anuncio {
  margin: 1rem auto 2rem;
}
.app__anuncio .title {
  font-weight: 500;
  font-size: 18px;
}
.app__anuncio .app__anuncio_submit_btn > * {
  background-color: transparent;
}
.app__anuncio .app__anuncio_submit_btn > * > * {
  color: white;
}
.app__anuncio_produto {
  margin: 1rem 0;
}
.app__anuncio_produto_content {
  border: 3px solid #EEEEEE;
  padding: 1rem 2rem 2rem 2rem;
}
.app__anuncio_produto_content_categoria p {
  margin: 1rem 0 0.5rem;
}
.app__anuncio_produto_content .produto_info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
}
.app__anuncio_anuncio {
  margin: 1rem 0;
}
.app__anuncio_anuncio_content {
  border: 3px solid #EEEEEE;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 8rem;
  padding: 1rem 2rem 2rem 2rem;
}
.app__anuncio_anuncio_content .app__anuncio_image_sectionBtn {
  margin-right: 1rem;
}
.app__anuncio_anuncio_content .app__anuncio_image_sectionBtn > * > * {
  transition: all 150ms ease-in;
}
.app__anuncio_anuncio_content .app__anuncio_image_sectionBtn:hover > * > * {
  color: #EB5C1F;
}
.app__anuncio_anuncio_content .app__anuncio_image_section-content {
  margin-top: 1rem;
}
.app__anuncio_anuncio_content .app__anuncio_image_input {
  border: 3px solid #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 150ms ease-in;
}
.app__anuncio_anuncio_content .app__anuncio_image_input input {
  display: none;
}
.app__anuncio_anuncio_content .app__anuncio_image_input div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__anuncio_anuncio_content .app__anuncio_image_input:hover {
  border: 3px solid rgba(235, 92, 31, 0.8);
}
.app__anuncio_anuncio_content .app__anuncio_images_selected {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 1rem;
  margin-bottom: 1rem;
}
.app__anuncio_anuncio_content .app__anuncio_images_selected > * {
  min-width: 100px;
  height: 80px;
}
.app__anuncio_anuncio_content .app__anuncio_image_selected {
  position: relative;
  border-radius: 10px;
}
.app__anuncio_anuncio_content .app__anuncio_image_selected_img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  height: 80px;
}
.app__anuncio_anuncio_content .app__anuncio_image_selected_deleteBtn {
  position: absolute;
  right: 0rem;
  top: 0rem;
  background-color: #76CBFF;
}
.app__anuncio_anuncio_content .app__anuncio_image_selected_deleteBtn > * {
  color: white;
}
.app__anuncio_supplier-prodUnit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 1rem 0;
}
.app__anuncio_supplier-prodUnit .app__anuncio_supplier_content {
  border: 3px solid #EEEEEE;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem 2rem 2rem 2rem;
}
.app__anuncio_supplier-prodUnit .app__anuncio_prodUnit_content {
  border: 3px solid #EEEEEE;
  padding: 1rem 2rem 2rem 2rem;
}
.app__anuncio_supplier-prodUnit .app__anuncio_prodUnit_content table thead th {
  font-size: 16px;
  font-weight: 500;
}
.app__anuncio_supplier-prodUnit .app__anuncio_prodUnit_content table td, .app__anuncio_supplier-prodUnit .app__anuncio_prodUnit_content table th {
  padding: 0.5rem 1.5rem 0.5rem 0;
}

.buttonToggleModal_area {
  display: flex;
}
.buttonToggleModal_area_selected_category div {
  display: flex;
  flex-direction: column;
}
.buttonToggleModal_area_selected_category div span {
  font-size: 14px;
  font-weight: bold;
}
.buttonToggleModal_area_selected_category div p {
  font-size: 12px;
  margin: 0;
}

#modal-toggler {
  display: inline-block;
  cursor: pointer;
  margin: 0 1rem 0 0;
  width: 10rem;
  font-size: 14px;
  padding: 0.25rem 0.5rem;
  color: black;
  border-radius: 10px;
  border: 3px solid #EEEEEE;
  transition: all 150ms ease-in;
  align-self: start;
  text-align: center;
}
#modal-toggler:hover {
  border: 3px solid rgba(235, 92, 31, 0.8);
}

.overlayModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: hsla(0, 0%, 10%, 0.85);
  display: none;
  opacity: 0;
}
.overlayModal.activeModal {
  display: block;
  opacity: 1;
  margin: 0;
}

.app__anuncio_modal_content {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.app__anuncio_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30rem;
  min-height: 33rem;
  padding: 2rem;
  z-index: 1000;
  background: white;
  overflow: auto;
  visibility: hidden;
}
.app__anuncio_modal.activeModal {
  margin: 0;
  visibility: visible;
}
.app__anuncio_modal_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.app__anuncio_modal_header p {
  font-size: 16px;
  font-weight: bold;
}
.app__anuncio_modal_body {
  grid-column: span 2;
}
.app__anuncio_modal_body ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}
.app__anuncio_modal_body ul > * {
  line-height: 2.5rem;
}
.app__anuncio_modal_body_category {
  margin-bottom: 0.75rem;
}
.app__anuncio_modal_body_category-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 350ms ease;
}
.app__anuncio_modal_body_category-title .app__anuncio_modal_navs_category-title_right {
  transform: rotate(0deg);
  transition: all 350ms ease;
}
.app__anuncio_modal_body_category-title:hover .app__anuncio_modal_navs_category-title_right {
  transform: rotate(90deg);
}
.app__anuncio_modal_body_category-title:hover .app__anuncio_modal_navs_category-title_right > *, .app__anuncio_modal_body_category-title:hover .app__anuncio_modal_navs_category-title_up > *, .app__anuncio_modal_body_category-title:hover p {
  color: #EB5C1F;
}
.app__anuncio_modal_body_category-title p {
  margin: 0;
}
.app__anuncio_modal_body_category-title span {
  margin-left: 1rem;
}
.app__anuncio_modal_body_category-content {
  max-height: 0;
  overflow: hidden;
  transition: all 350ms ease;
}
.app__anuncio_modal_body_category-content label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.app__anuncio_modal_body_category .show {
  height: auto;
  max-height: 400px;
  margin-left: 1rem;
  transition: all 350ms ease;
}
.app__anuncio_modal_body .category_details_header {
  display: inline-flex;
  margin-bottom: 1rem;
  font-weight: 500;
}
.app__anuncio_modal_body .category_details_header button {
  margin-right: 1rem;
}
.app__anuncio_modal_body .category_details_header p {
  margin: 0;
}
.app__anuncio_modal_body .category_details_body {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.app__anuncio_modal_body .category_details_body_1_sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.app__anuncio_modal_body .category_details_body_1_sub p {
  margin: 0 1rem 0 0;
}
.app__anuncio_modal_body .category_details_body_1_sub p, .app__anuncio_modal_body .category_details_body_1_sub .subcategory_advance > * {
  transition: all 150ms ease-in;
}
.app__anuncio_modal_body .category_details_body_1_sub:hover p, .app__anuncio_modal_body .category_details_body_1_sub:hover .subcategory_advance > * {
  color: rgba(235, 92, 31, 0.8);
}
.app__anuncio_modal_body .category_details_body_2 p {
  font-size: 14px;
  margin: 0;
}
.app__anuncio_modal_body .category_details_body .subsubcategories {
  position: absolute;
  top: 0;
}
.app__anuncio_modal_body .category_details_body .subsubcategories_content li p {
  margin-bottom: 0.5rem;
}
.app__anuncio_modal_body .clickedSubcategory p, .app__anuncio_modal_body .clickedSubcategory .subcategory_advance > * {
  color: rgba(235, 92, 31, 0.8);
}

.app__anuncio_features, .app__anuncio_sub_features {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 0rem 2rem;
}
.app__anuncio_features select, .app__anuncio_sub_features select {
  width: 100%;
  font-size: 14px;
  outline: none;
  border: 3px solid #EEEEEE;
  border-radius: 10px;
  padding: 4px 8px;
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .app__anuncio_produto_content {
    gap: 2rem;
  }
  .app__anuncio_anuncio_content {
    gap: 1rem 6rem;
  }
}
@media screen and (max-width: 1200px) {
  .buttonToggleModal_area {
    grid-template-columns: 1fr 2fr;
  }
  .app__anuncio_anuncio_content {
    gap: 1rem 2rem;
  }
  .app__anuncio_supplier-prodUnit {
    gap: 1rem;
  }
  .app__anuncio_supplier-prodUnit .app__anuncio_supplier_content {
    gap: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .app__anuncio_features, .app__anuncio_sub_features {
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 0.5rem 1rem;
  }
  .buttonToggleModal_area {
    display: flex;
  }
  #modal-toggler {
    width: 8rem;
  }
  .app__anuncio_produto_content {
    gap: 1rem 2rem;
  }
  .app__anuncio_produto_content .produto_info {
    gap: 1rem;
  }
  .app__anuncio_anuncio_content {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .app__anuncio_anuncio_content .app__anuncio_image_selected_img {
    height: 60px;
  }
  .app__anuncio_anuncio_content .app__anuncio_images_selected {
    grid-template-columns: repeat(auto-fit, 80px);
    gap: 1rem;
  }
  .app__anuncio_anuncio_content .app__anuncio_images_selected > * {
    min-width: 80px;
    height: 60px;
  }
  .app__anuncio_supplier-prodUnit {
    grid-template-columns: 1fr;
  }
  .app__anuncio_modal .category_details .category_details_body_1_sub p {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .buttonToggleModal_area {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .app__anuncio_modal_body .category_details_body .subsubcategories_content li p {
    margin-bottom: 0.25rem;
  }
  .app__anuncio_modal {
    min-width: 20rem;
    min-height: 450px;
    padding: 1rem;
  }
  .app__anuncio_modal .category_details .category_details_body {
    gap: 1rem;
    grid-template-columns: 1.5fr 1fr;
  }
  .app__anuncio_modal .category_details .category_details_body_1_sub p {
    margin: 0 0.5rem 0 0;
  }
  .app__anuncio_modal .category_details .category_details_body_1_sub {
    align-items: start;
  }
  .app__anuncio_modal .category_details .category_details_body_1_sub .subcategory_advance {
    margin-top: 0.125rem;
  }
  .app__anuncio_modal .category_details .category_details_body_2 p {
    font-size: 12px;
  }
  .app__anuncio_produto_content, .app__anuncio_anuncio_content, .app__anuncio_supplier-prodUnit .app__anuncio_supplier_content, .app__anuncio_supplier-prodUnit .app__anuncio_prodUnit_content {
    padding: 0.5rem 1rem 1rem 1rem;
  }
  .app__anuncio_produto_content .produto_info {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .app__anuncio_features, .app__anuncio_sub_features {
    grid-template-columns: repeat(auto-fit, 135px);
  }
}/*# sourceMappingURL=CriarAnuncio.css.map */