@import '../../../index.scss';

.app__Search{
    margin: 1rem auto;

    &_Grid{
        display: grid;
        grid-template-columns: 1.5fr 5fr;
        gap: 2rem;
        margin-top: 1rem;
    }

    &_Grid_Esquerda{
        border: $border;
        padding: 1rem 2rem;
        align-self: baseline;

        .app__Search_filter_content{
            ul{
                padding: 0;
            }

            li{
                line-height: 2rem;

                a{
                    font-size: $smaller_font;
                }
            }

            &_title{
                display: flex;
                justify-content: space-between;
                padding-bottom: .25rem;
                border-bottom: 2px solid $light_gray;
                margin: .5rem 0;

                &_up, &_right{
                    transform: rotate(0deg);
                    transition: all 350ms ease;
                }

                &:hover{
                    .app__Search_filter_content_title_up{
                        transform: rotate(180deg);
                    }

                    .app__Search_filter_content_title_right{
                        transform: rotate(90deg);
                    }

                    .app__Search_filter_content_title_right > *, .app__Search_filter_content_title_up > *, p{
                        color: $orange;
                    }
                }
            }

            .app__Search_filter_unit{
                margin-top: 1.25rem;

                .filterPrice{
                    display: flex;
                    align-items: center;
                    margin-left: .5rem;
                    font-size: $smaller_font;

                    button{
                        background-color: $orange;
                        color: white;
                        padding: 4px 20px;
                        border-radius: 15px;
                        opacity: 0.8;
                        transition: all 200ms ease-in-out;
                        margin-left: .5rem;
                      
                        &:hover {
                            opacity: 1; 
                        }
                    }

                    input{
                        width: 3.5rem;
                        border: 3px solid $light_gray;
                        outline: none;
                        margin: 0 .5rem;
                    }
                }
            }

            .hideFilter{
                display: none;
                transition: all 250ms ease-in-out;
            }

            .showFilter{
                display: contents;
                transition: all 250ms ease-in-out;
            }
        }
    }

    &_Grid_Direita{
        .app__Search_mobile_filter_content{
            display: none;
        }
        .app__Search_pagination{
            text-align: center;

            &_actionBtn{

            }

            &_currentPage{
                color: $orange;
                font-weight: bold;
            }

            &_pages{
                padding: 0 .5rem;
                transition: color 100ms ease-in;

                &:hover{
                    color: rgba($color: $orange, $alpha: .8);
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .app__Search_Grid_Esquerda .app__Search_filter_content .app__Search_filter_unit .filterPrice{
        div{
            display: flex;
            flex-direction: column;

            span{
                margin: 0 .5rem;
            }
        }

        button{
            align-self: flex-end;
        }
    }
}

@media screen and (max-width: 1200px) {
    .app__Search_Grid_Esquerda .app__Search_filter_content .app__Search_filter_unit .filterPrice{
        display: block;

        button{
            margin: .5rem 0 0 .5rem;
        }
    }
}

@media screen and (max-width: 1050px){
    .app__Search{
        &_Grid{
            grid-template-columns: 1fr;
            gap: 1.5rem;
            margin-top: 1rem;
        }

        .app__Search_mobile_filter_content{
            display: block;
        }

        &_Grid_Esquerda{
            display: none;
        }
    }
}