@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #EEEEEE;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5333333333);
}

::-webkit-scrollbar-thumb:hover {
  background: #EB5C1F;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  background-color: white;
  font-family: "Poppins", sans-serif;
  list-style: none;
  scroll-behavior: smooth;
}

img, picture {
  max-width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  max-width: 1650px;
  width: 95%;
}

.app__pointer {
  cursor: pointer;
}

.app__icon_effect > * {
  color: black;
  transition: color 0.1s ease-in-out;
}

.app__icon_effect:hover > * {
  color: #EB5C1F;
}

.app__text_effect {
  color: black;
  position: relative;
  border-bottom-width: 0%;
  transition: color 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.app__text_effect:hover {
  color: #EB5C1F;
}
.app__text_effect::before {
  content: "";
  position: absolute;
  border-radius: 100vmax;
  bottom: -2px;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #EB5C1F;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.app__text_effect:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.search_close_btn::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: relative;
  right: -5px;
  height: 24px;
  width: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.search_close_btn::-webkit-search-cancel-button:hover {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" color="darkorange" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
}

.main__action_btn {
  background-color: #EB5C1F;
  color: white;
  padding: 8px 50px;
  border-radius: 15px;
  opacity: 0.8;
  transition: all 200ms ease-in-out;
}
.main__action_btn:hover {
  opacity: 1;
}

.app__anuncio {
  margin: 1rem auto 2rem;
}
.app__anuncio_inputArea {
  border: 3px solid #EEEEEE;
  padding: 2rem 6rem 3rem 6rem;
  min-height: 400px;
}
.app__anuncio_inputArea p {
  margin: 1rem 0 0.5rem;
}
.app__anuncio_content_stepBtns {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.app__anuncio_content_stepBtns polyline {
  color: white;
}
.app__anuncio_content_stepBtns > * > * {
  background-color: #EB5C1F;
  margin-bottom: 0.125rem;
}
.app__anuncio_content_generalInfo_1, .app__anuncio_content_generalInfo_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}
.app__anuncio_content_supplierInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}
.app__anuncio_content .app__anuncio_image_sectionBtn {
  margin-top: 1rem;
}
.app__anuncio_content .app__anuncio_image_sectionBtn > * > * {
  transition: all 150ms ease-in;
}
.app__anuncio_content .app__anuncio_image_sectionBtn:hover > * > * {
  color: #EB5C1F;
}
.app__anuncio_content .app__anuncio_image_section-content {
  margin-top: 1rem;
}
.app__anuncio_content .app__anuncio_image_input {
  border: 3px solid #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.app__anuncio_content .app__anuncio_image_input input {
  display: none;
}
.app__anuncio_content .app__anuncio_image_input div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__anuncio_content .app__anuncio_images_selected {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 1rem;
  margin-bottom: 1rem;
}
.app__anuncio_content .app__anuncio_images_selected > * {
  min-width: 100px;
  min-height: 80px;
}
.app__anuncio_content .app__anuncio_image_selected {
  position: relative;
  border-radius: 10px;
}
.app__anuncio_content .app__anuncio_image_selected_img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  height: 80px;
}
.app__anuncio_content .app__anuncio_image_selected_deleteBtn {
  position: absolute;
  right: 0rem;
  top: 0rem;
  background-color: #76CBFF;
}
.app__anuncio_content .app__anuncio_image_selected_deleteBtn > * {
  color: white;
}

.app__anuncio_progressBar {
  width: 50%;
  margin: 0 auto;
  height: 20px;
  border-radius: 10px;
  border: 3px solid #EEEEEE;
  margin-bottom: 2rem;
  position: relative;
}
.app__anuncio_progressBar span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 9.5px;
  font-weight: bold;
  transition: all 200ms ease-in;
}
.app__anuncio_progressBar div {
  width: 33.3%;
  height: 100%;
  border-radius: 10px;
  background-color: #76CBFF;
  transition: all 200ms ease-in;
}

#modal-toggler {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0.5rem 1rem;
  color: black;
  border-radius: 10px;
  border: 3px solid #EEEEEE;
  transition: all 150ms ease-in-out;
}
#modal-toggler:hover {
  border: 3px solid rgba(235, 92, 31, 0.8);
}

.overlayModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: hsla(0, 0%, 9%, 0.863);
  display: none;
  opacity: 0;
}
.overlayModal.activeModal {
  display: block;
  opacity: 1;
  margin: 0;
}

.app__anuncio_modal_content {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

.app__anuncio_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 20rem;
  max-width: 25rem;
  max-height: 100vh;
  padding: 2rem;
  z-index: 1000;
  background: white;
  overflow: auto;
  visibility: hidden;
}
.app__anuncio_modal.activeModal {
  margin: 0;
  visibility: visible;
}
.app__anuncio_modal_navs {
  grid-column: span 2;
}
.app__anuncio_modal_navs ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}
.app__anuncio_modal_navs ul > * {
  line-height: 2.5rem;
}
.app__anuncio_modal_navs_category {
  margin-bottom: 0.75rem;
}
.app__anuncio_modal_navs_category-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 350ms ease;
}
.app__anuncio_modal_navs_category-title .app__anuncio_modal_navs_category-title_right {
  transform: rotate(0deg);
  transition: all 350ms ease;
}
.app__anuncio_modal_navs_category-title:hover .app__anuncio_modal_navs_category-title_right {
  transform: rotate(90deg);
}
.app__anuncio_modal_navs_category-title:hover .app__anuncio_modal_navs_category-title_right > *, .app__anuncio_modal_navs_category-title:hover .app__anuncio_modal_navs_category-title_up > *, .app__anuncio_modal_navs_category-title:hover p {
  color: #EB5C1F;
}
.app__anuncio_modal_navs_category-title p {
  margin: 0;
}
.app__anuncio_modal_navs_category-title span {
  margin-left: 1rem;
}
.app__anuncio_modal_navs_category-content {
  max-height: 0;
  overflow: hidden;
  transition: all 350ms ease;
}
.app__anuncio_modal_navs_category-content label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.app__anuncio_modal_navs_category-content label input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.app__anuncio_modal_navs_category-content label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 3px solid #EEEEEE;
  margin-top: 0.5rem;
  transition: all 200ms ease-in-out;
}
.app__anuncio_modal_navs_category-content label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.app__anuncio_modal_navs_category-content label:hover input ~ .checkmark {
  border: 3px solid #EB5C1F;
}
.app__anuncio_modal_navs_category-content label input:checked ~ .checkmark {
  border: 3px solid #EB5C1F;
  background-color: #EB5C1F;
}
.app__anuncio_modal_navs_category-content label input:checked ~ .checkmark:after {
  display: block;
}
.app__anuncio_modal_navs_category-content label .checkmark:after {
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
}
.app__anuncio_modal_navs_category .show {
  height: auto;
  max-height: 400px;
  margin-left: 1rem;
  transition: all 350ms ease;
}

@media screen and (max-width: 1500px) {
  .app__anuncio_content .app__anuncio_inputArea {
    padding: 1rem 3rem 2rem 3rem;
  }
  .app__anuncio_content_generalInfo_1, .app__anuncio_content_generalInfo_2, .app__anuncio_content_supplierInfo {
    gap: 3rem;
  }
}
@media screen and (max-width: 1200px) {
  .app__anuncio_progressBar {
    width: 70%;
  }
  .app__anuncio_content .app__anuncio_inputArea {
    padding: 1rem 2rem 2rem 2rem;
  }
  .app__anuncio_content_generalInfo_1, .app__anuncio_content_generalInfo_2, .app__anuncio_content_supplierInfo {
    gap: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .app__anuncio_progressBar {
    margin: 1rem auto;
    width: 80%;
  }
  .app__anuncio_content_generalInfo_1, .app__anuncio_content_generalInfo_2, .app__anuncio_content_supplierInfo {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .app__anuncio_content .app__anuncio_images_selected {
    grid-template-columns: repeat(auto-fit, 80px);
    gap: 1rem;
  }
  .app__anuncio_content .app__anuncio_images_selected > * {
    min-width: 80px;
    min-height: 60px;
  }
  .app__anuncio_content .app__anuncio_image_selected_img {
    width: 80px;
    height: 60px;
  }
}/*# sourceMappingURL=CriarAnuncio.css.map */