@import '../../../index.scss';

.app__anuncio{
    margin: 1rem auto;

    &_inputArea{
        border: 3px solid $light_gray;
        padding: 1rem 4rem 3rem 4rem;

        p{
            margin: 1rem 0 .5rem;
        }
    }

    &_content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 4rem;
        margin-top: 1rem;

        &-product{
            &_area{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 4rem;

                &>*{
                    width: 85%;
                }

                .teste{
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                }

                .app__anuncio_image_input{
                    border: 3px solid $light_gray;
                    border-radius: 10px;
                    padding: 1.5rem .5rem;
                    cursor: pointer;
                    align-self: flex-start;

                    input{
                        display: none;
                    }
                    p{
                        margin: 0;
                        font-size: .75rem;
                    }

                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }

                .app__anuncio_images_selected{
                    display: grid;
                    grid-template-columns:  repeat(2, minmax(100px, 1fr));
                    gap: 1rem;
                    margin-left: 1rem;

                    &>*{
                        max-height: 100px;
                    }
                }

                .app__anuncio_image_selected{
                    position: relative;
                    border-radius: 10px;

                    &_img{
                        border-radius: 10px;
                        object-fit: cover;
                        max-width: 100%;
                        max-height: 100%;
                    }

                    /*
                    p{
                        position: absolute;
                        left: 0rem;
                        bottom: 0rem;
                        margin: 0;
                        padding-right: .25rem;
                        font-size: .7rem;
                        text-align: center;
                    }*/

                    .trash{
                        position: absolute;
                        right: 0rem;
                        top: 0rem;
                        background-color: $orange;

                        &>*{
                            color: white;
                        }
                    }
                }
            }
        }

        &-contact{
            button{
                margin: 1rem auto;
            }

            &_area{
                &>*{
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .app__anuncio_content{
        & .app__anuncio_inputArea{
            padding: 1rem 2rem 3rem 2rem;
        }

        &-product_area{
            gap: 0rem;
        }
    }
}

@media screen and (max-width: 1250px) {
    .app__anuncio_content{
        gap: 2rem;

        & .app__anuncio_inputArea{
            padding: 1rem 0rem 3rem 0rem;
        }

        &-product_area > *{
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 900px) {
    .app__anuncio_content{
        grid-template-columns: 1fr;

        &-contact_area{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &-contact button{
            margin: 1rem 0 2rem 0;
        }
    }
}

@media screen and (max-width: 500px) {
    .app__anuncio_content{
        grid-template-columns: 1fr;

        &-contact_area{
            display: block;
        }

        &-product_area{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}