@import '../../../index.scss';

.app__anuncio{
    margin: 1rem auto 2rem;

    &_inputArea{
        border: $border;
        padding: 1rem 4rem 2rem 4rem;

        p{
            margin: 1rem 0 .5rem;
        }
    }

    &_content{
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 4rem;

        &-product{
            .app__anuncio_image_sectionBtn{
                margin-top: 1rem;

                & >* >*{
                    transition: all 150ms ease-in;
                }
                
                &:hover >* >*{
                    color: $orange;
                }
            }

            .app__anuncio_image_section-content{
                margin-top: 1rem;
            }

            .app__anuncio_image_input{
                border: $border;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;

                input{
                    display: none;
                }

                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .app__anuncio_images_selected{
                display: grid;
                grid-template-columns: repeat(auto-fit, 100px);
                gap: 1rem;
                margin-bottom: 1rem;

                & > *{
                    min-width: 100px;
                    min-height: 80px;
                }
            }

            .app__anuncio_image_selected{
                position: relative;
                border-radius: 10px;

                &_img{
                    border-radius: 10px;
                    object-fit: cover;
                    width: 100px;
                    height: 80px;
                }

                &_deleteBtn{
                    position: absolute;
                    right: 0rem;
                    top: 0rem;
                    background-color: $orange;

                    & > *{
                        color: white;
                    }
                }
            }

            &_area{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 4rem;

                & > *{
                    width: 85%;
                }
            }
        }

        &-contact{
            &_area{
                & > *{
                    width: 90%;
                    margin: 0 auto;
                }
            }

            &_actions{
                margin-top: 1rem;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .app__anuncio_content{
        & .app__anuncio_inputArea{
            padding: 1rem 2rem 2rem 2rem;
        }

        &-product_area{
            gap: 0rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .app__anuncio_content{
        grid-template-columns: 1fr;
        gap: 2rem;

        & .app__anuncio_inputArea{
            padding: 1rem 0rem 2rem 0rem;
        }

        &-product_area > *{
            margin: 0 auto;
        }

        &-contact_area{
            display: grid;
            grid-template-columns: 1fr 1fr;

            & > *{
                width: 80%;
            }
        }
    }

    .app__anuncio_image_section, .app__anuncio_description_section{
        width: 92.5%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .app__anuncio_content{
        grid-template-columns: 1fr;

        &-contact_area{
            display: block;
        }

        &-product{
            .app__anuncio_images_selected{
                grid-template-columns: repeat(auto-fit, 80px);
                gap: 1rem;
        
                & > *{
                    min-width: 80px;
                    min-height: 60px;
                }
            }

            .app__anuncio_image_selected_img{
                width: 80px;
                height: 60px;
            }

            &_area{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
            }
        }
    }

    .app__anuncio_image_section, .app__anuncio_description_section{
        width: 85%;
        margin: 0 auto;
    }
}