@import "../../index.scss";

body > *{
    font-family: $primary-font;
}

//font-size: clamp(3rem, 5vw, 6rem);

.app__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1rem;
    padding: 1rem 0 2rem 0;
    border-bottom: 3px solid $light_gray;

    & > * > *{
        margin: 0 1rem;
    }

    & > :first-child > :first-child{
        margin: 0 1rem auto 0;
    }

    &__menu{

        &_categories{
            position: fixed;
            top: 0;
            left: 0;
            margin: 0;
            width: 20%;
            max-width: 500px;
            padding: 2rem;
            height: 100vh;
            background-color: $light_gray;
            box-shadow: 1px 0px 20px 0px rgba(0,0,0,0.25);

            .teste{
                display: grid;
                grid-template-columns: 1fr 3fr;
                row-gap: 3rem;
                column-gap: 1rem;
                background-color: $light_gray;

                img{
                    margin: 0;
                }

                &>*{
                    background-color: $light_gray;
                }
            }

            ul{
                //margin-top: 2rem;
                padding: 0;
                margin: 0;
                flex-direction: column;

                li{
                    list-style: none;
                    line-height: 2.25rem;
                    font-size: 1.125rem;
                    background-color: $light_gray;
                }
            }
        }
    }

    &__searchBar{
        div{
            border: 3px solid $light_gray;
            border-radius: 20rem;
            padding: .5rem .75rem;
            margin: 0;
            
        }

        input{
            outline: none;
            border: none;
            margin-left: .75rem;
            width: 30rem;
        }
    }

    &__profile{
        p{
            margin: 0;
        }
    }
}