@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #EEEEEE;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5333333333);
}

::-webkit-scrollbar-thumb:hover {
  background: #EB5C1F;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  background-color: white;
  font-family: "Poppins", sans-serif;
  list-style: none;
  scroll-behavior: smooth;
}

img, picture {
  max-width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  max-width: 1650px;
  width: 95%;
}

.app__pointer {
  cursor: pointer;
}

.app__icon_effect > * {
  color: black;
  transition: color 0.1s ease-in-out;
}

.app__icon_effect:hover > * {
  color: #EB5C1F;
}

.app__text_effect {
  color: black;
  position: relative;
  border-bottom-width: 0%;
  transition: color 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.app__text_effect:hover {
  color: #EB5C1F;
}
.app__text_effect::before {
  content: "";
  position: absolute;
  border-radius: 100vmax;
  bottom: -2px;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #EB5C1F;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.app__text_effect:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.search_close_btn::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: relative;
  right: -5px;
  height: 24px;
  width: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.search_close_btn::-webkit-search-cancel-button:hover {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" color="darkorange" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
}

.main__action_btn {
  background-color: #EB5C1F;
  color: white;
  padding: 8px 40px;
  border-radius: 15px;
  opacity: 0.8;
  transition: all 200ms ease-in-out;
}
.main__action_btn:hover {
  opacity: 1;
}

.app__navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
  border-bottom: 3px solid #EEEEEE;
  /*
  & > * > *{
      margin: 0 1rem;
  } 
  */
}
.app__navbar > :first-child > :first-child {
  margin: 0 1rem auto 0;
}
.app__navbar_profile {
  display: flex;
  justify-content: flex-end;
}
.app__navbar_profile p {
  margin: 0;
}
.app__navbar_profile_account, .app__navbar_profile_cart {
  margin: 0.75rem;
}
.app__navbar_profile_icon {
  position: relative;
}
.app__navbar_profile .profile_link {
  color: black;
  position: relative;
  border-bottom-width: 0%;
  transition: color 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.app__navbar_profile .profile_link::before {
  content: "";
  position: absolute;
  border-radius: 100vmax;
  bottom: -1px;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #EB5C1F;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.app__navbar_profile .app__navbar_links:hover .profile_link {
  color: #EB5C1F;
}
.app__navbar_profile .app__navbar_links:hover .profile_link::before {
  left: 0;
  right: auto;
  width: 100%;
}
.app__navbar_profile .profile_icon {
  margin-left: 1rem;
}
.app__navbar_profile .profile_icon > * {
  color: black;
  transition: color 0.125s ease-in-out;
}
.app__navbar_profile .app__navbar_links:hover .profile_icon > * {
  color: #EB5C1F;
}
.app__navbar_cartItems {
  position: absolute;
  top: -0.35rem;
  right: -0.4rem;
  padding: 0.125rem;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 0.75rem;
  text-align: center;
  background-color: #EB5C1F;
  color: white;
}

@media screen and (max-width: 1100px) {
  .app__navbar {
    grid-template-columns: 1fr auto 1.25fr;
  }
}
@media screen and (max-width: 1000px) {
  .app__navbar {
    grid-template-columns: 1.5fr auto 1fr;
  }
  .app__navbar_profile_account, .app__navbar_profile_cart {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .app__navbar {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 0.5rem;
    padding: 1rem 0 1rem 0;
  }
  .app__navbar__searchBar {
    grid-column: span 2;
    grid-row: second-line;
  }
  .app__navbar__searchBar input {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 450px) {
  .app__navbar > * > * {
    margin: 0;
  }
  .app__logo {
    max-width: 128.8px;
    max-height: 39.2px;
  }
  /*
  .app__navbar_profile >*{
      margin: 0 .5rem;
  }
  */
}
.slide-right {
  animation: slide-right 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes slide-right {
  0% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes border-bottom-effect {
  0% {
    border-width: 0%;
  }
  100% {
    border-width: 100%;
  }
}
.app__navbarSupplier {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=Navbar.css.map */