@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #EEEEEE;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5333333333);
}

::-webkit-scrollbar-thumb:hover {
  background: #EB5C1F;
}

.paginationBttns {
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 0.2rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  box-sizing: content-box;
}

.paginationBttns a:hover {
  color: #EB5C1F;
}

.paginationActive {
  color: #EB5C1F;
}

.paginationDisabled a {
  opacity: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  background-color: white;
  font-family: "Poppins", sans-serif;
  list-style: none;
  scroll-behavior: smooth;
}

img, picture {
  max-width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  max-width: 1650px;
  width: 95%;
}

.app__pointer {
  cursor: pointer;
}

.app__icon_effect > * {
  color: black;
  transition: color 0.1s ease-in-out;
}

.app__icon_effect:hover > * {
  color: #EB5C1F;
}

.app__text_effect {
  color: black;
  position: relative;
  border-bottom-width: 0%;
  transition: color 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.app__text_effect:hover {
  color: #EB5C1F;
}
.app__text_effect::before {
  content: "";
  position: absolute;
  border-radius: 100vmax;
  bottom: -2px;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #EB5C1F;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.app__text_effect:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.search_close_btn::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: relative;
  right: -5px;
  height: 24px;
  width: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.search_close_btn::-webkit-search-cancel-button:hover {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" color="darkorange" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
}

.main__action_btn {
  background-color: #EB5C1F;
  color: white;
  padding: 8px 50px;
  border-radius: 15px;
  opacity: 0.8;
  transition: all 200ms ease-in-out;
}
.main__action_btn:hover {
  opacity: 1;
}

.main__negative_action_btn {
  opacity: 0.8;
  color: black;
  border: 2px solid black;
  padding: 6px 50px;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
  box-sizing: border-box;
}
.main__negative_action_btn:hover {
  opacity: 1;
  color: #EB5C1F;
  border: 2px solid #EB5C1F;
}

@media screen and (max-width: 700px) {
  .main__action_btn {
    padding: 6px 40px;
    border-radius: 10px;
    font-size: 14px;
  }
  .main__negative_action_btn {
    padding: 4px 40px;
    border-radius: 10px;
    font-size: 14px;
  }
}
.inputField p {
  margin: 1rem 0 0.5rem;
}
.inputField input {
  outline: none;
  border: 3px solid #EEEEEE;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  width: 100%;
  font-size: 14px;
  transition: all 100ms ease-in;
}
.inputField input:focus {
  border: 3px solid rgba(235, 92, 31, 0.8);
}

.inputField_error p {
  margin: 1rem 0 0.5rem;
}
.inputField_error input {
  outline: none;
  border: 3px solid red;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  width: 100%;
  font-size: 14px;
  transition: all 100ms ease-in;
}
.inputField_error input:focus {
  border: 3px solid rgba(235, 92, 31, 0.8);
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 0;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  margin: 0;
}

.mapboxgl-popup-content {
  padding: 5px 5px 10px;
}

.mapboxgl-ctrl button .mapboxgl-ctrl-icon {
  background-color: transparent;
}

.mapboxgl-marker * {
  background-color: transparent;
}

#sidebar-toggler {
  display: inline-block;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: hsla(0, 0%, 9%, 0.863);
  display: none;
  opacity: 0;
}
.overlay.active {
  display: block;
  opacity: 1;
  margin: 0;
}

.app__sidebar_content {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

.app__sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 15rem;
  max-width: 25rem;
  padding: 2rem;
  z-index: 1000;
  background: white;
  transform: translateX(-100%);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app__sidebar .comparador > * > * {
  color: black;
  transition: all 0.125s ease-in-out;
}
.app__sidebar .comparador:hover > * > * {
  color: #EB5C1F;
}
.app__sidebar.active {
  transform: translateX(0%);
  margin: 0;
}
.app__sidebar_navs {
  grid-column: span 2;
}
.app__sidebar_navs ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}
.app__sidebar_navs ul > * {
  line-height: 2.5rem;
}
.app__sidebar_navs_category {
  margin-bottom: 0.25rem;
}
.app__sidebar_navs_category-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 350ms ease;
}
.app__sidebar_navs_category-title .app__sidebar_navs_category-title_right, .app__sidebar_navs_category-title .app__sidebar_navs_category-title_up {
  transform: rotate(0deg);
  transition: all 350ms ease;
}
.app__sidebar_navs_category-title:hover .app__sidebar_navs_category-title_right {
  transform: rotate(90deg);
}
.app__sidebar_navs_category-title:hover .app__sidebar_navs_category-title_up {
  transform: rotate(180deg);
}
.app__sidebar_navs_category-title:hover .app__sidebar_navs_category-title_right > *, .app__sidebar_navs_category-title:hover .app__sidebar_navs_category-title_up > *, .app__sidebar_navs_category-title:hover p {
  color: #EB5C1F;
}
.app__sidebar_navs_category-title p {
  margin: 0;
}
.app__sidebar_navs_category-title span {
  margin-left: 1rem;
}
.app__sidebar_navs_category-content {
  max-height: 0;
  overflow: hidden;
  transition: all 350ms ease;
}
.app__sidebar_navs_category-content li {
  line-height: 2rem;
  font-weight: 400;
}
.app__sidebar_navs_category-content li a {
  font-size: 14px;
}
.app__sidebar_navs_category .show {
  height: auto;
  max-height: 400px;
  margin-left: 1rem;
  transition: all 350ms ease;
}
.app__sidebar_navs_subcategory-title {
  font-weight: 500;
  color: black;
  transition: color 150ms ease-in;
}
.app__sidebar_navs_subcategory-title span {
  font-size: 14px;
}
.app__sidebar_navs_subcategory-title:hover {
  color: rgba(235, 92, 31, 0.8);
}/*# sourceMappingURL=Sidebar.css.map */