@import "../../../index.scss";

.app__SupplierHistory {
    margin: 1rem auto 2rem;

    &_Orders{
        border: $border;

        table{
            width: 100%;

            thead tr th{
                font-size: 16px;
                font-weight: 500;
                background-color: $light_gray;
                padding: .5rem 3rem .5rem .5rem;
            }
            tbody tr td{
                padding: .75rem .5rem .75rem .5rem;
            }
            .priceShow>*{
                font-size: 16px;
                font-weight: 400;
                color: black;
            }
        }
    }

    &_button {
        //display: flex;
        justify-content: start;
    }

    &_password-checks{
        margin: 0;
        padding: 0;
        font-size: $smaller_font;
        margin-top: 1rem;

        &_symbol-success>*>*{
            color: rgb(107, 209, 34);
        }

        &_symbol-fail>*>*{
            color: rgb(226, 14, 14);
        }
    }

    a.option{
        margin-right: 1rem;
    }
        
    .active {
        font-weight: bold;
        color: rgba($color: $orange, $alpha: .8);
    }
}

@media screen and (max-width: 800px) {

    .app__ConsumerProfile {

        &_box{

            grid-template-columns: 1fr;
            gap: 0;

            &_div{
                    margin: 0rem 1rem 0rem 1rem;
            }
        }

        &_password-checks{
            font-size: $small_font;
        }
    }
}